.tiny {
  font-size: 0.25rem;
  color: #00ff00;
}
.small {
  font-size: 0.5rem;
}
.normal {
  font-size: 1rem;
}
.big {
  font-size: 2rem;
}
.large {
  font-size: 4rem;
}

.giant {
  font-size: 8rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
